
.header {
    height: 60px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem;
}
.logo {
  

}
.header__left{
    display: flex; 
    align-items: center;
    gap: 1rem;
}
.header__button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 24px;
    border: none;
 
}