@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f2f3;
  font-family: 'Lexend', sans-serif;
}
:root{
  --white:#fff;
  --background:#f1f2f3;
  --accent:#161616;
  --typo:#b6b6b6;
  --border:#ebebec;
}
main{
  padding: 1rem;
}
.empty{
  color: var(--typo);
}
.card_container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  flex-direction: column;
}